<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PREREK PROFILE</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'account/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
    <link rel="stylesheet" href="css/navbar-side.css"/>

    <link href="{% static 'account/css/agency.css' %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body class="index">


<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="color:#ffffff;">PREREK</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'displaySubscribedTrees' %}"> My Trees</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'search' %}">Search Trees</a>
                </li>

                <li>
                    <a class="page-scroll" href="{% url 'logout' %}">Logout</a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll">Logged in as: {{ user.username }}</a>
                    </li>
                {% endif %}


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <form action="{% url 'editProfile' %}" method='get'>
                    <div class="form-group col-xs-10 col-sm-10 col-md-1 col-md-offset-2 text-center">
                        <button class="btn btn-primary" type="submit" value="edit">Edit</button>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-3">
                        <center>
                            <div id="profile-border">
                                <img alt="Profile Picture" src="{% static 'account/img/profile/sajad.jpg' %}"
                                     class="img-circle img-responsive" id="profile-image">
                            </div>
                        </center>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 profile-info">
                        <p class="profile-information">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Gender</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">info@support.com</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </section>
    </div>
</header>


<!-- jQuery -->
<script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'home/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'home/js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'home/js/agency.js' %}"></script>

</body>

</html>
