<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $( document ).ready(function() {
            $("[rel='tooltip']").tooltip();

            $('.thumbnail').hover(
                    function(){
                        $(this).find('.caption').slideDown(250); //.fadeIn(250)
                    },
                    function(){
                        $(this).find('.caption').slideUp(250); //.fadeOut(205)
                    }
            );
        });
    </script>
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-md-6 col-md-offset-3">
                <form action = "{% url 'search' %}" method='post' class='form-inline'> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="{{q}}" class="form-control" name="q">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" value="Submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-md-6 col-md-offset-3">
            <h1>Search Result</h1>
        </div>
    </div>

    {% for result in combined_result_4cols %}
        <div class="row">
            {% for obj in result %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>{{obj.0.name|capfirst}}</h4>
                        <p>{{obj.1.description}}</p>
                        <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                            <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                    </div>
                    {% load static %}
                    <img src="{% static obj.1.image%}" alt="{{obj.0.name|capfirst}}">
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>



</body>
</html>