<!DOCTYPE html>
<html>
 <head>
  <title> Home </title>
 </head>

 <body>
 <h1> Home Page! </h1>
 <p> This is the home page </p>
 <a href = "{% url 'home'%}">Home</a>
 <a href = "{% url 'home'%}subjects">Subject</a>
 <a href = "{% url 'home'%}">Account(Void)</a>
 <a href = "{% url 'home'%}">Countact(Void)</a>
 <a href = "{% url 'home'%}">Help(Void)</a>
 <a href = "{% url 'home'%}contribute">Contribute</a>

<a href = "{% url 'home'%}createAccount">CreateAccount</a>
 </body>
</html>
